/* Header */

.membership-score {
    align-items: center;
    background: #f1f1f1;
    color: #222;
    padding: 6px 15px;
    border-radius: 30px;
    font-family: sans-serif;
    font-weight: 600;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    margin: 0;
    text-align: center;
}

.membership-score .label {
    font-size: 13px;
    margin-left: 5px;
    opacity: 0.9;
}

.membership-score .score-num {
    font-size: 13px;
    opacity: 0.9;
}

.membership-score .icon {
    margin-right: 8px;
}

.rewards-container {
    font-family: 'Kanit';
    margin-bottom: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.points-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}

.progress-track {
    position: relative;
    width: 100%;
    height: 12px;
    background: #eee;
    border-radius: 10px;
    margin: 25px 0;
}

.milestones {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.dot {
    width: 18px;
    height: 18px;
    background: #fff;
    border: 3px solid #eee;
    border-radius: 50%;
    margin-top: -3px;
    position: relative;
}

.dot-label {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
    color: #666;
}

.membership-description {
    display: grid;
    margin-top: 50px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.membership-description .card {
    height: 170px;
    padding: 10px 20px;
    background: #f8f8f8;
    border-radius: 20px;
    position: relative;
    color: #fff;
    transition: .2s ease-in-out;
    cursor: pointer;
    opacity: 0.2;
}

.membership-description .card p {
    margin: 0;
}

.membership-description .card:hover {
    opacity: 1 !important;
}

.membership-description .card.active {
    opacity: 1;
}

.membership-description .card .card_header {
    display: flex;
}

.membership-description .card .card_header .card_logo {
    font-size: 22px;
    margin: 10px 0 0 0;
    color: #fff;
    font-weight: 500;
}

.membership-description .card .card_header h2 {
    margin: 0;
    font-weight: 500;
    text-align: right;
    width: 100%;
}

.membership-description .card .card_header h2#platinum {
    color: #ebcfd3;
}

.membership-description .card .card_header h2#gold {
    color: #f2eaca;
}

.membership-description .card .card_header h2#silver {
    color: #e7e7e7;
}

.membership-description .card .card_points {
    position: relative;
    top: -35px;
    left: 85%;
    width: 50px;
    display: block;
    line-height: 15px;
    text-align: center;
}

.membership-description .card .card_points span.points {
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: block;
}

.membership-description .card .card_points span.text {
    font-size: 12px;
}

.membership-description .card .display_name {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 20px;
    display: block;
    text-align: center;
    font-weight: 500;
}

.membership-description .card .card_number {
    font-size: 15px;
    color: #fff;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 10px 0 0 0;
}

.membership-description .card ul {
    padding: 0;
    list-style: none;
    margin: 10px 0 0 0;
    line-height: 20px !important;
}

.membership-description .card p {
    line-height: 20px !important;
}

.membership-description .card ul li {
    font-size: 11px;
}

.membership-description .card::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 85%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.05));
}

@media screen and (max-width: 768px) {
    .membership-score {
        margin: 20px;
    }
    .membership-description {
        display: block;
    }
    .membership-description .card {
        position: static;
        width: 80%;
        margin: 20px auto 0 auto;
        display: none;
    }
    .membership-description .card::after {
        display: none;
    }
    .membership-description .card.active {
        display: block;
    }
}